/* Add your custom extension styling here */
.prayer-item {
  color: #ffffff;
  text-align: justify;
  font-family: 'JetBrains Mono';
}


.title {
  color: #ffffff;
  text-align: justify;
  font-family: 'JetBrains Mono';
  border: #ffffff 0px solid;
  border-bottom: #ffffff 2px solid;
}

.current {
  color: #00d841;
  text-align: justify;
  font-family: 'JetBrains Mono';
  font-weight: bold;
  border: #ffffff 0px solid;

}

.next-prayer {
  color: #ffffff;
  text-align: justify;
  font-size: 10px;
  height: 12px;
  font-family: 'JetBrains Mono';
  border: #ffffff 0px solid;
}