/* Add your custom extension styling here */
.title {
  height: 15px;
  color: #ffffff;
  font-family: 'JetBrains Mono', monospace;
  border: #ffffff 0px solid;
  border-bottom: #ffffff 2px solid;
  padding-top: 0px;
  padding-bottom: 10px;
  text-align: center;
}

/* Main Item */
.default-prayer-item {
  color: #ffffff;
  font-family: 'JetBrains Mono', monospace;
  height: 15px;
  width: 150px;
}

.current-prayer-item {
  color: #00d841;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.1);
}

.prayer-label {
  width: 100px;
}

.prayer-time {
  width: 50px;
}
/*-----------*/

/* Sub Item */
.next-prayer {
  color: #ffffff;
  font-size: 10px;
  height: 12px;
  font-family: 'JetBrains Mono', monospace;
  width: 150px;
  padding-left: 19px;
}

.current-sub {
  background-color: rgba(255, 255, 255, 0.1);
}
/*----------*/

.con-error{
  color: red;
}
