/* title styling */
.title {
  font-size: 15px;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  padding-top: 0px;
}

.test {
  padding-left: 0px;
  padding-right: 3px;
  /* background-color: #00d841; */
}

.date-title {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #ffffff;
  font-size: 12px;
}

.con-error {
  color: red;
}

/* Title-end */

/* Main Item */
.default-prayer-item {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.current-prayer-item {
  color: #00d841;
  font-weight: bold;
}

.prayer-label {
  width: 100px;
}

.prayer-time {
  width: 50px;
  text-align: right;
}

/*-----------*/

/* Sub Item */
.next-prayer {
  color: #ffffff;
  font-size: 10px;
  height: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;

}

/* .current-sub {
  background-color: rgba(255, 255, 255, 0.1);
} */

/*----------*/

/* Separator */
.outer-separator {
  font-size: 0px;
  height: 0px;
  padding: 0px;
}

.inner-label {
  border: #ffffff 0px solid;
  border-bottom: #ffffff 2px solid;
}

/* --------- */


/* Bg element */

.bg-container {
  border-radius: 10px;
}

.bg-title {
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.bg-item-main {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 8px;
}

.bg-item-sub {
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  margin-left: 16px;
  margin-bottom: 8px;
  margin-right: 16px;
}

.bg-item-current {
  color: #00d841;
  font-weight: bold;
}

.bg-clock {
  font-size: 32px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  margin-top: 8px;

}

.bg-date {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  margin-bottom: 8px;
}

/* BG Separator */
.bg-outer-separator {
  font-size: 0px;
  height: 0px;
  padding: 0px;
}

.bg-inner-label {
  border: #ffffff 0px solid;
  border-bottom: #ffffff 2px solid;
}

/* --------- */